<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.demo.mapper.SqlMapper">
<select id ="select1" parameterType ="map" resultType ="String">
   SELECT * FROM t_student
</select>
 <insert id="add1" parameterType="map">
    insert into t_student(name,age,address) values('${name}',${age},'${address}')
 </insert>
  <update id="update1" parameterType="map">
     update t_student set age=${age} where id=${id}
  </update>
<delete id="del1" parameterType="map">
      delete from t_student where id=${id}
 </delete>
   <select id ="selectOne" parameterType ="map" resultType ="String">
   SELECT count(1) FROM t_student
</select>
 <select id ="select2" parameterType ="map" resultType ="String">
   SELECT * FROM t_student t where name like '%${name}%'
   <!--添加if判断 -->
   <if test="_parameter.containsKey('address')">
       and address like '%${address}%'
   </if>
</select>
</mapper>